body {
    margin: 0;
}

header {
    width: 100vw;
    height: 200px;
    background-color:pink;
    margin: 0;
}

nav {
    text-align: right;
    background-color: yellow;
}

ul {
    list-style: none;
}

li {
    display: inline;
    padding: 1%;
}